<div id="index">
  <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227GGZ&redirect_uri=http%3A%2F%2Fpantri.herokuapp.com%2Ffitbit&scope=nutrition&expires_in=604800"class="auth-button">
    log in with fitbit
  </a>
  <div class="circle">
    <div class="icon corn"><%= image_tag "corn.svg" %></div>
    <div class="icon bread"><%= image_tag "bread.svg" %></div>
    <div class="icon grape"><%= image_tag "grape.svg" %></div>
    <div class="icon cheese"><%= image_tag "cheese.png" %></div>
    <div class="icon apple"><%= image_tag "apple.svg" %></div>
    <div class="icon chicken"><%= image_tag "chicken.png" %></div>
    <div class="icon fish"><%= image_tag "fish.svg" %></div>
    <div class="icon pineapple"><%= image_tag "pineapple.svg" %></div>
    <div class="icon sweet-potato"><%= image_tag "sweet-potato.svg" %></div>
    <div class="icon banana"><%= image_tag "banana.svg" %></div>
    <div class="icon meat"><%= image_tag "meat.svg" %></div>
    <div class="icon shrimp"><%= image_tag "shrimp.svg" %></div>
    <div class="icon egg"><%= image_tag "egg.svg" %></div>
    <div class="icon rice"><%= image_tag "rice.svg" %></div>
    <div class="icon ice-cream"><%= image_tag "ice-cream.svg" %></div>
    <div class="icon pear"><%= image_tag "pear.svg" %></div>
    <div class="icon eggplant"><%= image_tag "eggplant.svg" %></div>
    <div class="icon cookie"><%= image_tag "cookie.svg" %></div>
  </div>
</div>