<div id="pantry">
  <div class="stripe"></div>
  <div class="stripe right"></div>
  <div class="shelf vegetables"><%= image_tag "shelf.svg" %></div>
  <div class="shelf vegetables"><%= image_tag "shelf.svg" %></div>
  <div class="shelf vegetables"><%= image_tag "shelf.svg" %></div>
  <div class="shelf vegetables"><%= image_tag "shelf.svg" %></div>
  <div class="shelf vegetables"><%= image_tag "shelf.svg" %></div>
</div>