<!DOCTYPE html>
<html>
<head>
  <title>Pantri</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700|Fredoka+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>
<body>
  <div class="container">
    <header>
      <div id="pantri">pantri</div>
      <div id="logo"><%= image_tag "logo.svg" %></div>
      <div id="menu-burger"><%= image_tag "menu.png" %></div>
    </header>
    <%= yield %>
  </div>

</body>
</html>
